{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}言い訳裁判{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
  <link rel="stylesheet" href="{% static 'trial/css/style.css' %}">
</head>
<body>
  {% block content %}{% endblock %}
  <script src="{% static 'trial/js/script.js' %}"></script>
</body>
</html>
